<div class="portlet light bordered check-info-portlet" v-for="option in screen.options.optionList">
    <check-type-list-option></check-type-list-option>
    <div class="portlet-title">        
        <div class="caption">
            <i class="fa fa-chevron-circle-right font-pure-green"></i>
            <span class="caption-subject font-pure-green bold">  &nbsp;{{ option.text }}</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="expand">
            </a>            
        </div>
    </div>
    <div class="portlet-body clearfix" style="display:none">
        <div v-for="defect in option.defects.defect">
            <div class="note note-green"
                v-bind:class="{ 'note-danger': defect.selected === 'yes' && defect.prohibitional === 'yes', 'note-orange': defect.selected === 'yes' && defect.prohibitional === 'no'}">
                <div class="row defect-list-entries">
                    <div class="col-md-4 align-middle no-right-padding">
                        <p class="form-control-static">
                            <strong>
                                {{ defect.text }} <span v-if="defect._image === 'yes'">*</span>
                            </strong>
                        </p>
                    </div>
                    <div class="align-middle defect_check">    
                        <span v-if="defect.selected === 'yes'" class="form-control-static">
                            <i class="fa fa-fw fa-times"></i>&nbsp; Defect    
                        </span>                    
                        <span v-if="defect.selected !== 'yes'" class="form-control-static">
                            <i class="fa fa-fw fa-check"></i>&nbsp; No defect
                        </span>
                    </div>
                    <div class="col-md-3 align-middle">
                        <p v-if="defect.comments" class="form-control-static">
                            <strong>Comments: </strong>
                            {{ defect.comments }}
                        </p>
                    </div>
                    <div class="col-md-2 text-center defect_image align-middle">
                        <p class="form-control-static" v-if="defect.imageString">
                            <span v-for="singleImage in defect.imageString.split('|')">
                                <a v-bind:href="singleImage" data-lightbox="img-defect">
                                <img 
                                    v-bind:src="singleImage" alt="" 
                                    style="max-width: 45px; max-height: 24px">
                                </a>
                            </span>                            
                        </p>
                    </div>    
                    <div class="col-md-2 text-right align-middle ipad_btn">
                        <p class="form-control-static">
                            <a href="/defects/{{ defect.defect_id }}" class="btn btn-xs white-btn-border trans-bg font-white icon-only" v-if="defect.defect_id">View defect</a>
                            <button type="button" v-on:click="handleEditDefect(defect, option.text)" class="btn btn-xs white-btn-border trans-bg font-white icon-only" v-if="edit">
                                Edit
                            </button>
                        </p>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>