<div class="row">
    <div class="col-md-12">
        <form action="#" id="messages-form" class="horizontal-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-body">
                        <div class="row">
                            <label class="col-md-12">
                                Load template (optional):
                            </label>
                            <div class="col-md-12">
                                <div class="dropdown template-list-dropdown message_dropdown load-template-div">
                                    <button class="dropdown-toggle js-load-template-selected-text margin-bottom-15" type="button" data-toggle="dropdown">
                                        {{ selectedTemplateName }}
                                        <span 
                                            class="grey-gallery icon_btn"
                                            v-on:click="filterMessage=''">
                                            <i class="jv-icon"></i>
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                                        <li><a v-on:click="resetTemplate">No template</a></li>                                        
                                        <li v-for="template in templates | orderBy 'name.toLowerCase()'">
                                            <a v-on:click="templateSelected(template)">{{ template.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <div class="check_search">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Select recipients:
                                                </label>
                                                <div class="input-icon right">
                                                    <input type="text" @keyup="search" class="form-control" name="filter"
                                                    placeholder="User search"  v-model="filterMessage">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="flex-shrink: 0">
                                        <div class="d-flex flex-column form-group">
                                            <label class="control-label invisible">
                                                NAN
                                            </label>
                                            <button type="button"
                                                class="btn grey-gallery btn-h-45"
                                                v-on:click="filterMessage=''">
                                                <i class="jv-icon jv-close"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 top20">
                                <div class="form-group">               
                                    <div class="select_accordion message-section-accordion message_accordion">
                                        <div id="accordion1" class="panel-group accordion message_accordion">
                                            <div class="panel-group accordion message-checkbox">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading bg-red-rubine">
                                                        <h4 class="panel-title">
                                                            <label>
                                                                <input type="checkbox" v-on:change="checkAllSiteContacts" v-model="allUsersChecked">
                                                            </label>            
                                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse"
                                                               data-parent="#accordion1" href="#send-message-users">                                                   
                                                                Users <span>({{ numofMessageUsers }})</span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="send-message-users" 
                                                    class="panel-collapse collapse">
                                                        <div class="panel-body scroller" data-height="300px">
                                                            <ul>
                                                                <li v-for="siteContact in siteContacts | filterBy filterMessage in 'first_name' 'last_name' 'email' 'user_region.name' | orderBy 'first_name.toLowerCase()'">
                                                                    <sitecontactcheckbox :site-contact="siteContact" :group="message.template" section="send-message-users"></sitecontactcheckbox>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>                                            
                                            </div>
                                        </div>
                                        <div id="accordion2" class="panel-group accordion message_accordion">
                                            <div class="panel-group accordion message-checkbox">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading bg-red-rubine">
                                                        <h4 class="panel-title">
                                                            <label>
                                                                <input type="checkbox" v-on:change="checkAllUserDivisions" v-model="allUserDivisionsChecked">
                                                            </label>
                                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse"
                                                               data-parent="#accordion2" href="#select-message-division">
                                                                User region groups <span>({{ numofMessageUserDivisions }})</span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="select-message-division" class="panel-collapse collapse">
                                                        <div class="panel-body scroller" data-height="300px">
                                                            <ul>
                                                                <li v-for="division in eligibleUserDivisions | orderBy 'name.toLowerCase()'">
                                                                    <divisioncheckbox :template="message.template" :division="division"></divisioncheckbox>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="accordion3" class="panel-group accordion message_accordion">
                                            <div class="panel-group accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading bg-red-rubine">
                                                        <h4 class="panel-title">
                                                            <label>
                                                                <input type="checkbox" v-on:change="checkAllGroups" v-model="allGroupsChecked">
                                                            </label>
                                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse"
                                                               data-parent="#accordion3" href="#select-message-group">
                                                                Created groups <span>({{ numofMessageGroups }})</span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="select-message-group" class="panel-collapse collapse">
                                                        <div class="panel-body scroller" data-height="300px">
                                                            <ul>
                                                                <li v-for="group in eligibleGroups | filterBy filterMessage | orderBy 'name.toLowerCase()'">
                                                                    <groupcheckbox :template="message.template" :group="group"></groupcheckbox>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" v-show="message.template.type==''">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Message title*:
                                </label>
                                <input class="form-control" type="text" name="templatename" 
                                    id="message_title"
                                    v-model="message.title"
                                    data-rule-required="true"
                                    placeholder="Enter message title">
                            </div>
                        </div>
                    </div>
                    <!-- Sendmessage template type blank -->
                    <div class="row" :class="message.template.type=='' ? 'js-tinymce-editor' : ''" v-show="message.template.type==''">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Message*:
                                </label>
                                <input class="form-control inline-rich-editor"
                                    v-bind:style="styleObject"
                                    v-bind:name="'messagesFormEditor'"
                                    v-bind:id="'messagesWithoutTemplate'"
                                    v-bind:plugins="plugins"
                                    v-editor="message.content"
                                    v-model="message.content"
                                    placeholder="Enter message details (please note you cannot copy and paste in to this field)"
                                    data-rule-required="true" />   
                            </div>
                        </div>
                    </div>
                    <!-- Sendmessage template type standard -->
                     <div class="row" :class="message.template.type=='standard' ? 'js-tinymce-editor' : ''" v-show="message.template.type=='standard'">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Message*:
                                </label>
                                <input class="form-control inline-rich-editor"
                                style="height: 186px" 
                                    v-bind:style="styleObject"
                                    v-bind:name="'messagesFormEditor'"
                                    v-bind:id="'messagesWithStandardTemplate'"
                                    v-bind:plugins="plugins"
                                    v-editor="message.content"
                                    v-model="message.content"
                                    placeholder="Enter message details (please note you cannot copy and paste in to this field)"
                                    data-rule-required="true" />   
                            </div>
                        </div>
                    </div>
                    <div class="row" v-show="message.template.type!='standard' && message.template.type!=''">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Message*:
                                </label>
                                <textarea row="5" class="form-control message-height"
                                    v-bind:name="'messagesFormEditor1'"
                                    v-bind:id="'messagesFormEditor1'"
                                    v-bind:plugins="plugins"
                                    v-model="message.content"
                                    placeholder="Enter message details (please note you cannot copy and paste in to this field)"
                                    data-rule-required="true"></textarea>
                            </div>
                        </div>
                    </div>    

                        <!-- <div class="form-group">
                            <div class="col-md-12">
                                <div v-show="message.template.type == 'multiple_choice'" class="form-control question-preview">
                                    <multiple-choice-preview :questions="message.template.questions" :name="message.template.name"></multiple-choice-preview>    
                                </div>
                                <div  v-show="message.template.type == 'survey'" class="form-control question-preview">
                                    <open-choice-preview :questions="message.template.surveys" :name="message.template.name"></open-choice-preview>    
                                </div>
                            </div>
                        </div> -->
                    
                    <div class="form-group">
                        <input type="checkbox" id="private_message" name="private_message"  v-model="message.private_message" value="0">Private message
                    </div>

                    <div class="form-actions">
                        <div class="btn-group col-md-12 padding0">
                            <button type="submit" class="btn red-rubine btn-padding col-md-4" v-on:click="showSendMessageConfirmation">Send</button>
                            <button type="button" class="btn white-btn btn-padding col-md-4" v-on:click="resetTemplate">Clear</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>            
    </div>

    <acknowledgementmodal :name='name' :id='name' :clearacknowledgement='clearacknowledgement' :submitacknowledgement='submitacknowledgement' :removeAcknowledgement='removeacknowledgement' :acknowledgementmessage='message.template.acknowledgement_message'></acknowledgementmodal>

</div>