<div class="journey-timeline-wrapper-sidebar-body">
  <ul class="list-unstyled sidebar-lists">
      <li class="sidebar-lists-item">
          <a class="sidebar-lists-item-link is-active space-x-3" href="">
              <div class="flex-shrink-0 sidebar-lists-item-status">
              </div>
              <div class="min-w-0 flex-1">
                  <div class="truncate title">
                      <span>J. Smith lUSER</span>
                  </div>
                  <div class="info">
                      <span>Mercedes Sprinter</span>
                  </div>
              </div>
              <div class="flex-shrink-0">
                  <div class="vehichle-number-plate">BT67 VOJ</div>
              </div>
          </a>
      </li>
      <li class="sidebar-lists-item">
          <a class="sidebar-lists-item-link space-x-3" href="">
              <div class="flex-shrink-0 sidebar-lists-item-status driving">
              </div>
              <div class="min-w-0 flex-1">
                  <div class="truncate title">
                      <span>J. Smith</span>
                  </div>
                  <div class="info">
                      <span>Mercedes Sprinter</span>
                  </div>
              </div>
              <div class="flex-shrink-0">
                  <div class="vehichle-number-plate">BT67 VOJ</div>
              </div>
          </a>
      </li>
      <li class="sidebar-lists-item">
          <a class="sidebar-lists-item-link space-x-3" href="">
              <div class="flex-shrink-0 sidebar-lists-item-status idling">
              </div>
              <div class="min-w-0 flex-1">
                  <div class="truncate title">
                      <span>J. Smith</span>
                  </div>
                  <div class="info">
                      <span>Mercedes Sprinter</span>
                  </div>
              </div>
              <div class="flex-shrink-0">
                  <div class="vehichle-number-plate">BT67 VOJ</div>
              </div>
          </a>
      </li>
      <li class="sidebar-lists-item">
          <a class="sidebar-lists-item-link space-x-3" href="">
              <div class="flex-shrink-0 sidebar-lists-item-status stopped">
              </div>
              <div class="min-w-0 flex-1">
                  <div class="truncate title">
                      <span>J. Smith</span>
                  </div>
                  <div class="info">
                      <span>Mercedes Sprinter</span>
                  </div>
              </div>
              <div class="flex-shrink-0">
                  <div class="vehichle-number-plate">BT67 VOJ</div>
              </div>
          </a>
      </li>
  </ul>
</div>
<div class="journey-timeline-wrapper-sidebar-footer">
  <div class="page-result">
      <span class="page-result-type">Vehicles</span>
      <span class="page-result-number">7 of 10</span>
  </div>
</div>