<div v-for="option in screen.options.optionList">
    <div v-if="typeof option.related_to === 'undefined' || option.related_to !== 'trailer' || (option.related_to === 'trailer' && is_trailer_attached == 1)" class="portlet light bordered check-info-portlet">
        <div class="portlet-title">        
            <div class="caption" v-if="option.defect_count === 0 && option.prohibitional_defect_count === 0">
                <i class="fa fa-chevron-circle-right font-pure-green"></i>
                <span class="caption-subject font-pure-green bold">  &nbsp;{{ option.text }}</span>
            </div>
            <div class="caption" v-if="option.prohibitional_defect_count !== 0">
                <i class="fa fa-chevron-circle-right font-pure-red"></i>
                <span class="caption-subject font-pure-red bold">  &nbsp;{{ option.text }}</span>
            </div>
            <div class="caption" v-if="option.prohibitional_defect_count === 0 && option.defect_count !== 0">
                <i class="fa fa-chevron-circle-right font-pure-orange"></i>
                <span class="caption-subject font-pure-orange bold">  &nbsp;{{ option.text }}</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand">
                </a>
            </div>
        </div>
        <div class="portlet-body clearfix" style="display:none">
            <div v-if="typeof option.question_type === 'undefined' || option.question_type == 'yesno'">
                <div v-for="defect in option.defects.defect">
                    <div class="note note-green"
                        v-bind:class="{ 'note-danger': defect.selected === 'yes' && defect.prohibitional === 'yes', 'note-orange': defect.selected === 'yes' && defect.prohibitional === 'no'}">
                        <div class="row d-flex align-items-center  defect-list-entries">
                            <div class="col-md-3 no-right-padding">
                                <p class="form-control-static">
                                    <strong>
                                        {{ defect.text }} <span v-if="defect._image === 'yes'">*</span>
                                    </strong>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <span v-if="defect.selected === 'yes' && defect.is_pre_existing_defect === 1" class="form-control-static">
                                    <i class="fa fa-fw fa-times"></i>&nbsp;Existing defect
                                </span>
                                <span v-if="defect.selected === 'yes' && defect.is_pre_existing_defect === 0" class="form-control-static">
                                    <i class="fa fa-fw fa-times"></i>&nbsp;New defect
                                </span>
                                <span v-if="defect.selected !== 'yes'" class="form-control-static">
                                    <i class="fa fa-fw fa-check"></i>&nbsp;No defect
                                </span>
                            </div>
                            <div class="col-md-2">
                                <p v-if="defect.comments" class="form-control-static">
                                    <strong>Comments: </strong>
                                    {{ defect.comments }}
                                </p>
                            </div>
                            <div class="col-md-2 text-center defect_image">
                                <p v-if="defect.imageString">
                                    <span v-for="singleImage in defect.imageString.split('|')">
                                        <a v-bind:href="singleImage" data-lightbox="img-defect">
                                        <img 
                                            v-bind:src="singleImage" alt="" 
                                            style="max-width: 45px; max-height: 24px">
                                        </a>
                                    </span>
                                </p>
                            </div>    
                            <div class="col-md-2 text-right ipad_btn">
                                <p class="form-control-static">
                                    <a href="/defects/{{ defect.defect_id }}" class="btn btn-xs white-btn-border trans-bg font-white icon-only" v-if="defect.defect_id">View defect</a>
                                    <button type="button" v-on:click="handleEditDefect(defect, option.text)" class="btn btn-xs white-btn-border trans-bg font-white icon-only" v-if="edit">
                                        Edit
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
            <div v-if="option.question_type == 'media'">
                <div class="note note-green">
                    <div class="row d-flex align-items-center  defect-list-entries">
                        <div class="col-md-3 no-right-padding">
                            <p class="form-control-static">
                                <strong>
                                    {{ option.question_text }} *
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="form-control-static">
                                <i class="fa fa-fw fa-check"></i>&nbsp;No defect
                            </span>
                        </div>
                        <div class="col-md-2 text-center defect_image">
                            <p v-if="option.images">
                                <span v-for="singleImage in option.images.split('|')">
                                    <a v-bind:href="checkImage(singleImage)" data-lightbox="img-defect">
                                    <img 
                                        v-bind:src="checkImage(singleImage)" alt="" 
                                        style="max-width: 45px; max-height: 24px">
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>        
            </div>
            <div v-if="option.question_type == 'media_based_on_selection'">
                <div class="note note-green">
                    <div class="row d-flex align-items-center  defect-list-entries">
                        <div class="col-md-3 no-right-padding">
                            <p class="form-control-static">
                                <strong>
                                    {{ option.media_label_text ? option.media_label_text : option.text + ' (photos)' | ucfirst }} <span v-if="option.answer === 'yes'">*</span>
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="form-control-static">
                                <i class="fa fa-fw fa-check"></i>&nbsp;No defect
                            </span>
                        </div>
                        <div class="col-md-6 text-center defect_image">
                            <p v-if="option.images">
                                <span v-for="singleImage in option.images.split('|')">
                                    <a v-bind:href="singleImage" data-lightbox="img-defect">
                                    <img 
                                        v-bind:src="singleImage" alt="" 
                                        style="max-width: 45px; max-height: 24px">
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>        
            </div>
            <div v-if="option.question_type == 'dropdown'">
                <div class="note note-green">
                    <div class="row d-flex align-items-center  defect-list-entries">
                        <div class="col-md-3 no-right-padding">
                            <p class="form-control-static">
                                <strong>
                                    {{ option.question_text }} *
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="form-control-static">
                                <i class="fa fa-fw fa-check"></i>&nbsp;No defect
                            </span>
                        </div>
                        <div class="col-md-3 text-center defect_image">
                            <p v-if="option.dropdowns">
                                {{ getDropdownValues(option.dropdowns) }}
                            </p>
                        </div>
                    </div>
                </div>        
            </div>
            <div v-if="option.question_type == 'multiinput'">
                <div class="note note-green">
                    <div class="row d-flex align-items-center  defect-list-entries">
                        <div class="col-md-3 no-right-padding">
                            <p class="form-control-static">
                                <strong>
                                    {{ option.question_text }} *
                                </strong>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <span class="form-control-static">
                                <i class="fa fa-fw fa-check"></i>&nbsp;No defect
                            </span>
                        </div>
                        <div class="col-md-3 text-center defect_image">
                            <p v-if="option.inputs">
                                {{ getInputValues(option.inputs) }}
                            </p>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>