$font-stack: 'Lato', sans-serif !default;
$pdf-font-stack:'Open Sans', sans-serif !important;
$primary-colour: #47A6DB !default;
$secondary-color: #A0A0A0 !default;
$primary-font-color: #FFFFFF !default;
$primary-disabled-bg: lighten($primary-colour, 10%) !default;
$custom-font-family: "jobviewer" !default;